<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--------------google font-------->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <!--------bootstrap-->

    <!------------css---------->
    <link rel="stylesheet" href="css/12thResult.css" />
    <title>CBSE Exam Results 2021</title>
  </head>
  <body>
    <!-------------heder start--------->
    <header>
      <div class="cbse-logo">
        <img src="img/cbseJeeMains.png" alt="" />
      </div>
      <div class="cbse-name-sec">
        <img src="img/cbsehindi-new.png" alt="" class="hindi" />
        <img src="img/cbseenglish-new.png" alt="" class="english" />
      </div>
      <div class="cbse-link">
        <h4>http://cbseresults.nic.in</h4>
      </div>
    </header>
    <!-------------heder end--------->

    <!-----------cbse top section---start--->

    <div class="top-section">
      <div class="print">
        <a href="#" target="_blank" rel="noopener noreferrer"
          >print this page</a
        >
      </div>
      <div class="heading">
        <h4>Brought to you by National Informatics Centre</h4>
      </div>
    </div>

    <!------------cbse top section---end----->

    <!------------link section-------------->

    <div class="result-section">
      <h4>Examination Results</h4>
      <h4>Senior School Certificate Examination (Class XII) Results 2021</h4>

      <div class="result">
        <img src="img/vanshResult.JPG" alt="" />
      </div>

      <div class="another-link">
        <a
          href="https://josaa.nic.in/class12/Class12th21.htm"
          target="_blank"
          rel="noopener noreferrer"
          >Check Another Result</a
        >
      </div>
      <div class="bottom-note">
        <p>
          Note: Abbreviations used against Result: <br />
          R.L. - Result Later (Your result is under preparation and it will be
          declared soon), N.E. - Not Eligibile, R.W. - Result Withheld, ABST -
          Absent <br />
          COMP – Compartment, UFM - Unfairmeans, XXXX - Improvement, SJD -
          Subjudice , N.R. - Not Registered
        </p>
      </div>
    </div>

    <!------------link section-------------->

    <!------------bottom section--start---------->

    <div class="bottom-section">
      <p>
        <span>Disclaimer:</span> Neither NIC nor CBSE is responsible for any
        inadvertent error that may have crept in the results being published on
        NET. The results published on net are for immediate information to the
        examinees.
      </p>
      <div class="designer-section">
        <p>Designed, Developed and Hosted by National Informatics CentreS1B</p>
      </div>
    </div>

    <!------------bottom section--end---------->
  </body>
</html>
