<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--------------google font-------->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <!--------bootstrap-->

    <!------------css---------->
    <link rel="stylesheet" href="css/login.css" />
    <title>CBSE Exam Results 2021</title>
  </head>
  <body>
    <!-------------heder start--------->
    <header>
      <div class="cbse-logo">
        <img src="img/cbseJeeMains.png" alt="" />
      </div>
      <div class="cbse-name-sec">
        <img src="img/cbsehindi-new.png" alt="" class="hindi" />
        <img src="img/cbseenglish-new.png" alt="" class="english" />
      </div>
      <div class="cbse-link">
        <h4>http://cbseresults.nic.in</h4>
      </div>
    </header>
    <!-------------heder end--------->

    <!-----------cbse top section---start--->

    <div class="top-section">
      <div class="result-button">
        <a
          href="http://results.gov.in/"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="img/results2002.gif" alt=""
        /></a>
      </div>
      <div class="result-heading">
        <h3>Examination Results 2021</h3>
      </div>
      <div class="discription">
        <h5>Brought to you by National Informatics Centre</h5>
      </div>
    </div>

    <!------------cbse top section---end----->

    <!------------link section-------------->

    <div class="link-section">
      <h3>Senior School Certificate Examination (Class XII) Results 2021</h3>
      <form action="" style="margin-top: 40px">
        <div class="form-input">
          <label for="" style="margin-left: -20px">
            <b>Enter your Roll Number</b>
          </label>
          <input type="text" style="margin-left: 60px; width: 120px" />
        </div>
        <div class="form-input" style="margin-top: 10px">
          <label for="" style="margin-left: -10px"
            ><b>Enter School No.</b></label
          >
          <input type="text" style="margin-left: 90px; width: 120px" />
        </div>
        <a href="12thResult.html" target="_blank" rel="noopener noreferrer">
          <input
            type="button"
            value="Submit"
            style="margin-top: 10px; padding: 2px 5px"
        /></a>

        <input
          type="button"
          value="Reset"
          style="margin-top: 10px; margin-left: 10px; padding: 2px 5px"
        />
      </form>
    </div>

    <!------------link section-------------->

    <!------------bottom section--start---------->

    <div class="bottom-section">
      <p>
        <span>Disclaimer:</span> Neither NIC nor CBSE is responsible for any
        inadvertent error that may have crept in the results being published on
        NET. The results published on net are for immediate information to the
        examinees.
      </p>
      <div class="designer-section">
        <p>Designed, Developed and Hosted by National Informatics CentreS1B</p>
      </div>
    </div>

    <!------------bottom section--end---------->
  </body>
</html>
