* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/************variables***********/

$primary-color: #00ced1;
$text-color: #373abe;
$text-color2: #ff0052;
$font-family: "Roboto", sans-serif;

/*********variables****************/

/********header*********/

header {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: $primary-color;
  display: flex;

  .cbse-logo {
    width: 70px;
    height: 70px;
    img {
      width: 70px;
      height: 70px;
    }
  }
  .cbse-name-sec {
    //  border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 70px;
    padding-top: 18px;

    .hindi {
      width: 250px;
      height: 25px;
    }
    .english {
      width: 400px;
      height: 25px;
    }
  }

  .cbse-link {
    position: absolute;
    right: 1%;
    h4 {
      font-family: $font-family;
      color: #fff;
      font-size: 1rem;
      font-weight: 700;
    }
  }
}

/*********header*******/

/********cbse top section********/

.top-section {
  position: relative;
  width: 1366px;
  height: 130px;
  // border: 1px solid black;

  .result-button {
    position: absolute;
    left: 30px;
    top: 60px;
  }
  .result-heading {
    position: absolute;
    font-weight: bold;
    right: 1%;
    font-family: $font-family;
    color: $text-color;
    font-weight: 700;
  }
  .discription {
    position: absolute;
    right: 0%;
    font-weight: bold;
    top: 70px;
    color: $text-color;
    font-size: 1.2rem;
  }
}

/********cbse top section***********/

/*********link-section**************/

.link-section {
  width: 100%;
  //border: 1px solid black;
  padding: 28px 38px;

  ul {
    list-style: square inside url("../img/bullet.gif");
    li {
      a {
        color: $text-color;
        font-family: $font-family;
        font-weight: 500;
        font-size: 0.88rem;
      }
      span {
        color: #ff0000;
        font-weight: bold;
        font-size: 0.78rem;
        font-family: $font-family;
      }
    }
  }
}

/**************link-section***************/

.bottom-section {
  margin: 100px auto;
  width: 1300px;
  height: 30px;
  text-align: center;
  border-top: 1px solid rgb(112, 112, 112);
  padding: 10px 0;

  p {
    font-size: 0.9rem;

    span {
      font-weight: bold;
    }
  }

  .designer-section {
    background-color: #c2dbf8;
    padding: 6px 0;
    padding-top: 0%;

    p {
      font-weight: bold;
    }
  }
}

/************bottom-section************/
